<div class="container" style="margin: 70px auto">
    <div class="row">
        <div class="col">
            <p style="float:right">
                <span>Hola {{persona}}!</span>
                <a href="/admin/login/logout" class="btn btn-danger">Cerrar sesion <i class="fasfa-sign-out-alt"></i></a>
            </p>
        </div>
    </div>
</div>